#frontmatter-title {
	display: inline-block;
}

.content__default > {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3.125rem;
		margin-bottom: 10px;
	}

	h2 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 8px;
	}

	h3 {
		font-size: 1.35rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	h2 + h3 {
		margin-top: 0;
	}

	h4 {
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 8px;
	}

	ul {
		margin-bottom: 16px;
	}
}

.header-anchor {
	transition: opacity .15s;
	text-decoration: none;
	font-size: .85em;
	margin-left: -.75em;
	margin-top: .125em;
	padding-right: .23em;
	opacity: 0;
	position: absolute;
}

.header-anchor:focus {
	outline: 0;
}

h1 .header-anchor {
	margin-top: 0;
	font-size: 2rem;
	margin-left: -.7em;
}

[id]:hover > .header-anchor,
.header-anchor:focus {
	opacity: 1;
}

.v-application {
	p code,
	li code {
		box-shadow: none;
		color: #c0341d !important;
		background-color: #fbe5e1 !important;
	}
}
