// Custom utility classes

// Hide content visually but not for screen readers
.sr-only {
	position: absolute !important;
	top: 0;
	left: -999px;
	width: 1px !important;
	height: 1px !important;
	white-space: nowrap;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

// Style for required fields
.required label::after {
	top: -2px;
	content: '*';
	position: relative;
}

// Fade <transition>
.fade-enter-active,
.fade-leave-active {
	transition-duration: .15s;
	transition-property: opacity;
	transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

.w-100 {
	width: 100%;
}

.no-flex {
	flex: none !important;
}

.input-container {
	max-width: none;
}

@media only screen and (max-width: 428px) {
	.input-container {
		max-width: 100%;
	}
}

.no-flex {
	flex: none !important;
}

.pointer {
	cursor: pointer;
}

// Custom styles for VDataTable
.custom-table {
	border-top: thin solid rgba(0, 0, 0, .12);

	thead {
		background: #f8f8f8;
	}

	table thead tr {
		white-space: nowrap;
	}

	&.row-clickable table tbody tr {
		cursor: pointer;
	}
​
	&.fixed-min-height {
		.v-data-table__wrapper {
			min-height: 540px;
		}
	}
​
	&.no-mobile-header {
		.v-data-table-header-mobile {
			display: none;
		}
​
		table {
			border-top: 2px solid #eee;
		}
	}
}
