.v-application {
	.nuxt-content {
		> ul {
			margin-bottom: 16px;
		}

		> :last-child {
			margin-bottom: 0 !important;
		}
	}
}

*::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: #fff;
	text-shadow: none;
	background-color: rgba(12, 65, 154, .99) !important;
}
