@mixin text-h5 {
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: normal;
}

@mixin text-h6 {
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: .0125em;
}

@mixin text-subtitle-1 {
	font-size: 1rem;
	line-height: 1.75rem;
	letter-spacing: .009375em;
}
