// Default, global styles
* {
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	// Font size defined by the browser
	font-size: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	line-height: 1.25;
}

// Hide the application while Vue.js is loading
[v-cloak] {
	display: none;
}

// Apply default transition to links
a {
	transition: .25s;
}

// Fix layout width
#__nuxt,
#__layout {
	width: 100%;
}

.nuxt-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

// Scroll padding
html {
	scroll-padding-top: 120px;
}

@media only screen and (max-width: 1264px) {
	html {
		scroll-padding-top: 72px;
	}
}
