@import '@cnamts/design-tokens/dist/tokens';

// Reset Vuetify styles & tweak theme
.v-application {
	.nuxt-content-highlight,
	.doc-code-block {
		pre {
			padding: 0;
			background: $vd-am-blue-darken-80;
		}

		pre[class*=language] {
			&::after {
				content: attr(data-lang);
				bottom: .75rem;
				color: $vd-grey-lighten-60;
				font-family: inherit;
				font-size: .7rem;
				font-weight: 700;
				position: absolute;
				right: 1rem;
				text-transform: uppercase;
			}
		}

		code {
			font-family: inherit;
			font-size: 1em;
			font-weight: 400;
			background-color: transparent;
			color: inherit;
			padding: 0;
		}

		pre,
		code {
			text-shadow: none;
		}
	}

	.nuxt-content-highlight pre {
		padding: 12px 16px;
	}

	span.token {
		font-family: inherit;
		background-color: transparent !important;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: $vd-turquoise-darken-20;
	}

	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: $vd-cyan-darken-20;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		color: $vd-yellow-darken-40;
	}

	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: $vd-pink-darken-40;
	}

	.language-css .token.string {
		color: $vd-yellow-darken-20;
	}
}
