/* Default, global styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	/* Font size defined by the browser */
	font-size: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	line-height: 1.25;
}

/* Hide the application while Vue.js is loading */
[v-cloak] {
	display: none;
}

/* Apply default transition to links */
a {
	transition: .25s;
}

#__nuxt,
#__layout {
	width: 100%;
}

.content__default {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
