# Dependencies
node_modules

# Build
dist
dist-ssr
.local

# Playground
**/dev/Playground.vue

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests coverage
**/tests/**/coverage
