// Some utility classes
.w-100 {
	width: 100%;
}

.no-flex {
	flex: none !important;
}

.pointer {
	cursor: pointer;
}

// P2 buttons
.p2-primary-btn {
	color: #fff !important;
	background: #0087cf !important;

	&.theme--light.v-btn.v-btn--disabled {
		border: 1px solid #ffffff;
		color: #ffffff !important;
		background-color: #aed7ed !important;
	}

	&:hover,
	&:active,
	&:focus {
		background:#005da8 !important;
	}
}

.p2-secondary-btn {
	color: #005da8 !important;
	border: 1px solid #ccc !important;
	border-radius: 100px !important;
	background: #fff !important;

	&.theme--light.v-btn.v-btn--disabled {
		border: 1px solid #ffffff;
		color: #aed7ed !important;
		background-color: #fff !important;
	}

	&:hover,
	&:active,
	&:focus {
		color: #fff !important;
		background: #005da8 !important;
	}
}
