// Global styles for components

@import '@cnamts/design-tokens/dist/tokens';

.v-application {
	// Change the main color when a warning is present
	.vd-warning-rules {
		&.success--text,
		.success--text {
			color: $vd-warning !important;
			caret-color: $vd-warning !important;
		}
	}

	// Make the tooltip menu look like a tooltip
	.vd-copy-tooltip-menu {
		padding: 6px 16px;
		box-shadow: none;
		margin-top: 2px;
		background: rgba(97, 97, 97, .9);
	}

	// Form input width
	.vd-form-input {
		width: $vd-input-medium;

		&-s {
			width: $vd-input-small;
		}

		&-l {
			width: $vd-input-large;
		}

		&-xl {
			width: $vd-input-x-large;
		}
	}

	// Custom styles for VDataTable
	.vd-data-table {
		border-top: thin solid rgba(0, 0, 0, .12);

		thead {
			background: #f8f8f8;
		}

		table thead tr {
			white-space: nowrap;
		}

		&.row-clickable table tbody tr {
			cursor: pointer;
		}
	​
		&.fixed-min-height {
			.v-data-table__wrapper {
				min-height: 540px;
			}
		}
	​
		&.no-mobile-header {
			.v-data-table-header-mobile {
				display: none;
			}
	​
			table {
				border-top: 2px solid #eee;
			}
		}
	}
}
