// Global, non-scoped styles

@import '../tokens';

.v-application {
	// Change the main color when a warning is present
	.vd-warning-rules {
		&.success--text,
		.success--text {
			color: $vd-warning !important;
			caret-color: $vd-warning !important;
		}
	}

	// Make the tooltip menu look like a tooltip
	.vd-copy-tooltip-menu {
		padding: 6px 16px;
		box-shadow: none;
		margin-top: 2px;
		background: rgba(97, 97, 97, .9);
	}

	// Form input width
	.vd-form-input {
		width: $vd-input-medium;

		&-s {
			width: $vd-input-small;
		}

		&-l {
			width: $vd-input-large;
		}

		&-xl {
			width: $vd-input-x-large;
		}
	}
}
