// @see https://vuetifyjs.com/en/features/sass-variables/
$body-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Mic 32 New', 'Source Sans Pro', sans-serif;

$headings: (
	'h1': (
		'size': 4.5rem,
		'letter-spacing': -0.015em,
		'weight': 700
	),
	'h2': (
		'size': 3rem,
		'letter-spacing': 0.015em,
		'weight': 500
	),
	'h3': (
		'size': 2.125rem,
		'letter-spacing': 0.0025em,
		'weight': 700
	),
	'h4': (
		'size': 1.5rem,
		'letter-spacing': normal,
		'weight': 500
	),
	'h5': (
		'size': 1.5rem,
		'letter-spacing': 0.01em,
		'weight': 300
	),
	'h6': (
		'size': 1.25rem,
		'letter-spacing': 0.0015em,
		'weight': 600
	),
	'subtitle-1': (
		'size': 1.125rem,
		'letter-spacing': 0.0015em,
		'weight': 600
	),
	'subtitle-2': (
		'size': 1rem,
		'letter-spacing': 0.001em,
		'weight': 600
	),
	'body-1': (
		'size': 1.125rem,
		'letter-spacing': 0.005em,
		'weight': 400
	),
	'body-2': (
		'size': 1rem,
		'letter-spacing': 0.0025em,
		'weight': 400
	),
	'button': (
		'size': 1rem,
		'letter-spacing': 0.005em,
		'weight': 600,
		'text-transform': false
	),
	'caption': (
		'size': .875rem,
		'letter-spacing': 0.004em,
		'weight': 400
	),
	'overline': (
		'size': .75rem,
		'letter-spacing': 0.015em,
		'weight': 400
	)
);

$btn-font-sizes: (
	'x-small': 0.625rem,
	'small': 0.75rem,
	'default': 1rem,
	'large': 0.875rem,
	'x-large': 1.125rem
);

$btn-letter-spacing: 0.005em;
$btn-font-weight: 600;
$btn-text-transform: none;
