// Override some Vuetify styles

// Import visually-hidden mixin
@import 'vuetify/src/styles/tools/_display.sass';

// Reset max-width for some elements
.v-ripple__container,
.v-ripple__container *,
.v-tabs__container,
.v-input--selection-controls__ripple,
.v-simple-checkbox svg,
.v-slide-group__content,
.v-slider__tick-label,
.v-slider__thumb-container * {
	max-width: none;
}

// Fix color contrast for improved accessibility
.theme--light {
	&.v-label--is-disabled
	&.v-input--is-disabled .v-label,
	&.v-icon.v-icon--disabled,
	&.v-list .v-list--disabled {
		color: #767676 !important
	}
}

.theme--light.v-btn.v-btn--disabled .v-icon { // TODO
	color: #949494 !important
}

.v-tabs-bar .v-tabs__item--disabled { // TODO
	color: #333 !important
}

.theme--light.v-btn.v-btn--disabled { // TODO
	color: #646464 !important
}

.v-data-table__empty-wrapper { // TODO
	color: #717171 !important;
}

// Fix font size
.v-input,
.v-label {
	font-size: 1rem !important;
}

.v-application {
	.text-h1,
	.text-h2,
	.text-h3,
	.text-h4,
	.text-h5,
	.text-h6,
	.text-subtitle-1,
	.text-subtitle-2,
	.text-body-1,
	.text-body-2,
	.text-caption,
	.text-overline {
		font-family: 'Open Sans', sans-serif !important;
	}
}

// Fix DataTable pagination on IE
.v-data-footer__select {
	flex: none;

	.v-select,
	.v-select__selections {
		flex: none;
		display: block;
	}

	input {
		@include visually-hidden;
	}
}

.v-list-item__content,
.v-list-item__content > * {
	flex: 1 0 auto;
}
