.nuxt-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
	}

	> h2 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 700;
		letter-spacing: normal;
		margin-top: 16px;
		margin-bottom: 8px;
	}

	> h3 {
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: 700;
		letter-spacing: .0125em;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	> h4 {
		font-size: 1rem;
		line-height: 1.75rem;
		font-weight: 700;
		letter-spacing: .009375em;
		margin-bottom: 8px;
	}

	> ul {
		margin-bottom: 16px;
	}

	h2 > a::before,
	h3 > a::before {
		content: "#";
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.55em;
		margin-left: -1rem;
		padding-right: 0.35rem;
		position: absolute;
		opacity: 1;
		text-decoration: none;
		transition: opacity .15s;

		@media (min-width: 1024px) {
			opacity: 0;
		}
	}

	h2:hover > a::before,
	h3:hover > a::before {
		opacity: 1;
	}
}

*::selection {
	color: #fff;
	background-color: rgba(12, 65, 154, .99);
}
