@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* Default, global styles */
* {
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	/* Font size defined by the browser */
	font-size: 100%;
}

body {
	display: flex;
	min-height: 100vh;
	line-height: 1.25;
}

/* Hide the application while Vue.js is loading */
[v-cloak] {
	display: none;
}

#app {
	width: 100%;
	display: flex;
	min-height: 100vh;
	background: #eee;
}

/* Apply default transition to links */
a {
	transition: .25s;
}
