// @see https://vuetifyjs.com/en/features/sass-variables/
$body-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Source Sans Pro', sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400px;
$light: 300px;

$headings: (
	'h1': (
	  'size': 4.5rem,
	  'letter-spacing': -0.094rem,
	  'weight': $bold
	),
	'h2': (
	  'size': 3rem,
	  'letter-spacing': .094rem,
	  'weight': $medium
	),
	'h3': (
	  'size': 2.125rem,
	  'letter-spacing': .0.016rem,
	  'text-transform': uppercase,
	  'weight': $bold
	),
	'h4': (
	  'size': 1.5rem,
	  'letter-spacing': normal,
	  'weight': $medium
	),
	'h5': (
	  'size': 1.5rem,
	  'letter-spacing': 0.063rem,
	  'weight': $light
	),
	'subtitle-1': (
	  'size': 1.125rem,
	  'letter-spacing': .0.009rem,
	  'weight': $semi-bold
	),
	'subtitle-2': (
	  'size': 1rem,
	  'letter-spacing': .0.006rem,
	  'weight': $semi-bold
	),
	'button': (
	  'size': 1rem,
	  'letter-spacing': .0.031rem,
	  'weight': $semi-bold,
	  'text-transform': false
	),
	'body-1': (
		'size': 1.125rem,
		'letter-spacing': .0.031rem,
		'weight': $regular
	),
	'body-2': (
		'size': 1rem,
		'letter-spacing': .0.016rem,
		'weight': $regular
	),
	'caption': (
		'size': 0.875rem,
		'letter-spacing': .0.025rem,
		'weight': $regular
	),
	'overline': (
		'size': 0.75rem,
		'letter-spacing': 0.094rem,
		'weight': $regular
	)
  );
